{% extends "reviews/base.html"%}
{%block title%}
    Detailed Page
{%endblock%}

{% block content %}
    <h1>Hey {{review.username}}!</h1>
    <p>Your rating : {{review.rating}}</p>
    <p>Your review: {{review.review_text}}</p>
    {% if is_favourite %}
        <h3>Ithaanu favourite!</h3>
    {% else %}
        <form action="/review/favourite" method="POST"> 
            {% csrf_token %}
        {% comment %} the '/' in the front of action is important🚶{% endcomment %}
            <input type="hidden" name="review_id" value="{{review.id}}">
            <button>Favourite</button>
        </form>
    {% endif %}

{% endblock content %}
